<form #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="loginDetailId" [value]="service.formData.loginDetailId">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>First Name</label>
            <input
                required
                class="form-control form-control-lg"
                placeholder="First Name"
                name="firstName"
                #firstName="ngModel"
                [(ngModel)]="service.formData.firstName"
                [class.invalid]="firstName.invalid && firstName.touched">
        </div>
        <div class="form-group col-md-6">
            <label>Last Name</label>
            <input
                required
                class="form-control form-control-lg"
                placeholder="Last Name"
                name="lastName"
                #lastName="ngModel"
                [(ngModel)]="service.formData.lastName"
                [class.invalid]="lastName.invalid && lastName.touched">
        </div>
    </div>
    <div class="form-group">
        <label>NPI Number</label>
        <input
            class="form-control form-control-lg"
            placeholder="NPI Number"
            name="npiNumber"
            #npiNumber="ngModel"
            [(ngModel)]="service.formData.npiNumber"
            [class.invalid]="npiNumber.invalid && npiNumber.touched">
    </div>
    <div class="form-group">
        <label>Phone Number</label>
            <input
            class="form-control form-control-lg"
            placeholder="Phone Number"
            name="phoneNumber"
            #phoneNumber="ngModel"
            [(ngModel)]="service.formData.phoneNumber"
            [class.invalid]="phoneNumber.invalid && phoneNumber.touched">
    </div>
    <div class="form-group">
        <label>Email</label>
            <input
            type="email"
            required
            class="form-control form-control-lg"
            placeholder="Email"
            name="email"
            #email="ngModel"
            [(ngModel)]="service.formData.email"
            [class.invalid]="email.invalid && email.touched">
    </div>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">Submit</button>
    </div>
</form>